@font-face {
  font-family: "Campton";
  src: url("fonts/Rene.Bieder_Campton.Medium.otf");
}
@font-face {
  font-family: "Campton";
  src: url("fonts/Campton-Bold.otf");
  font-weight: bold;
}

body {
  font-family: Campton, Helvetica, sans-serif;
  color: #161a39;
  margin: 0px;
  width: 100vw;
}
h1 {
  font-size: 3em;
}
p {
  font-size: 1.3em;
}
.navbar {
  overflow: hidden;
  background-color: #ededed;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  position: relative;
  width: 134px;
  height: 50px;
  left: 50%;
  margin-left: -67px;
}
.main {
  margin: 2.5em 0 0;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img/top.jpg);
  color: white;
  text-align: center;
  padding: 1em 0 1.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  margin-top: 2em;
}
.main-btn {
  margin: 0 0 3em;
}

@media (max-width: 800px) {
  .main .title, 
  .main .description {
    width: 60%;
  }
  .logo {
    width: 30vw;
  }
}
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: #febd35;
  color: #161a39;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  transform: scale(1.1);
}
.learnmore {
  padding: 1em 6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info p {
  text-align: center;
}

.info .btn {
  margin-top: 2em;
}
.gif {
  margin: 2em 2em;
  width: 50%;
}
.gif img {
  width: 100%;
}
.info li {
  list-style: none;
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .learnmore {
    width: 80%;
    padding: 1em;
  }
  .info {
    width: 100%;
  }
  .gif {
    width: 100%;
  }
  .buy {
    width: 90%;
  }
}
.iframe-container {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 800px) {
  .main,
  .learnmore,
  .buy {
    height: 90vh;
  }
  .iframe-container{
    padding-bottom: 48%;
  }
}
.buy {
  width: 60%;
  margin: 2em auto 0;
  padding: 2em 5% 0;
}
.buy h2 {
  text-align: center;
}

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.purchase-grp{
  width: 40%;
  margin: 2em;

}
@media (max-width: 800px){
  .buy {
    width: 90%;
    padding: 3em 1em 0;
  }
  .purchase-grp{
    width:80%;
    margin: 0;
  }
}
.input {
  padding: .3em .2em .3em 2em;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 1em;
  color: #555555;
  box-sizing:border-box;
  margin-top: .5em;
}

.card-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.space {
  margin-bottom: 1em;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: .4em;
  left: .6em;
  font-size: 1.2em;
  color: #555555;
}
.purchase-grp .fa {
  font-size: 2em;
  margin-right: .4em;
  margin-bottom: .7em;

}
 .btn-pay {
  width: 100%;
  display: block;
  border: 0 none;
  margin: 1em auto;
  -webkit-appearance: none;
}
.purchase-grp img {
  width:100%;
}
.buy p {
  font-size: 1.2em;
}